process {
    // To make the workflow publish the final joblib object
    withName : 'train_label_model' {
        publishDir = "$params.outdir"
    }

    container = "oras://ghcr.io/afg1/rna-type-model:latest"

    executor = 'lsf'

}


singularity {
  enabled = true
  cacheDir = "$baseDir/singularity"
}


params {
  labelling {
    chunks = 100
  }
}

includeConfig '../profiles.config'
